@using LidyDecorApp.Web.Pages.Produto
@using LidyDecorApp.Web.Models

<table id="produtosTable" class="table">
    <thead>
        <tr>
            <th class="hide">Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço Unit</th>
            <th>Valor Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produtos in Produtos)
        {
            <tr>
                <td class="hide">@produtos.id</td>
                <td>@produtos.nome</td>
                <td>@produtos.descricao</td>
                <td>@produtos.quantidade</td>
                <td>@produtos.precoUnitario</td>
                <td>@(produtos.quantidade * produtos.precoUnitario)</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => OnEdit(produtos)">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger" @onclick="() => DeleteProdutos(produtos.id)">
                        <i class="bi bi-trash3"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<ProdutosModel> Produtos { get; set; }
    [Parameter] public EventCallback<ProdutosModel> EditarProdutos { get; set; }
    [Parameter] public EventCallback<int> ExcluirProdutos { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await JSRuntime.InvokeVoidAsync("initializeDataTable");
    //     }
    // }

    private void OnEdit(ProdutosModel produtos)
    {
        EditarProdutos.InvokeAsync(produtos);
    }

    private void DeleteProdutos(int idProdutos)
    {
        ExcluirProdutos.InvokeAsync(idProdutos);
    }
}