<!-- ProdutoTabela.razor -->
@using static EstoqueApp.Web.Pages.Produtos

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço Unit</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Valor Total</th> <!-- Nova coluna para o Valor Total -->
            <th></th> <!-- Coluna para o botão de editar -->
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in produtos)
        {
            <tr>
                <td>@produto.id</td>
                <td>@produto.nome</td>
                <td>@produto.descricao</td>
                <td>@produto.quantidade</td>
                <td>@produto.precoUnitario</td>
                <td>@produto.nomeCategoria</td>
                <td>@produto.nomeFornecedor</td>
                <td>@(produto.quantidade * produto.precoUnitario)</td> <!-- Cálculo do Valor Total -->
                <td>
                    <!-- Botão de Editar -->
                    <button class="btn btn-primary" @onclick="() => EditarProduto(produto)">Editar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<Produto> produtos { get; set; }
    [Parameter] public EventCallback<Produto> OnEditarProduto { get; set; }

    private void EditarProduto(Produto produto)
    {
        OnEditarProduto.InvokeAsync(produto);
    }
}
